<nav class="bg-gray-950 text-white px-6 py-4 flex justify-between items-center shadow-lg">
  <a
    routerLink="/dashboard"
    class="text-2xl font-extrabold tracking-tight text-gray-100 transition duration-300 ease-in-out transform hover:scale-105"
  >
    Angirû Ventas
  </a>

  <button
    (click)="cerrarSesion()"
    class="bg-red-600 hover:bg-red-700 text-sm text-white font-semibold px-5 py-2 rounded-xl transition duration-300 ease-in-out transform hover:scale-105"
  >
    Cerrar sesión
  </button>
</nav>