
input[type="file"]::file-selector-button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: none;
  background-color: rgb(59 130 246);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type="file"]::file-selector-button:hover {
  background-color: rgb(29 78 216);
}

.dark input[type="file"]::file-selector-button {
  background-color: rgb(37 99 235);
}

.dark input[type="file"]::file-selector-button:hover {
  background-color: rgb(29 78 216);
}