
  .resaltar {
    animation: resaltarCampo 2s ease-in-out;
    border: 2px solid #facc15 !important; /* amarillo */
    background-color: #fef9c3 !important;
  }

  @keyframes resaltarCampo {
    0% { box-shadow: 0 0 0px #facc15; }
    50% { box-shadow: 0 0 10px 4px #facc15; }
    100% { box-shadow: 0 0 0px #facc15; }
  }
