
  .resaltar {
    animation: resaltarCampo 2s ease-in-out;
    border: 2px solid #facc15 !important; /* amarillo */
    background-color: #fef9c3 !important;
  }

  @keyframes resaltarCampo {
    0% { box-shadow: 0 0 0px #facc15; }
    50% { box-shadow: 0 0 10px 4px #facc15; }
    100% { box-shadow: 0 0 0px #facc15; }
  }

  @keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out;
}