/* Forzar estilos oscuros en las opciones del select para navegadores basados en Webkit */
:host ::ng-deep option {
    background-color: var(--bg-option, white);
    color: var(--text-option, black);
}

/* Cuando el tema es dark (asumiendo que aplicas una clase o atributo al body/host) */
:host-context(.dark) option {
    background-color: #1f2937; /* gray-800 */
    color: white;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out;
}