@import "tailwindcss";

@layer utilities {
  .animate-fade-in-scale {
    animation: fadeInScale 0.4s ease-in-out;
  }

  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@layer components {
  .input {
    @apply border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition;
  }
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(20px); }
  10%, 90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease forwards;
}

.input.destacar {
  animation: resaltarInput 1s ease-in-out 0s 2;
  border-color: #0f8cd5; /* naranja ámbar */
  box-shadow: 0 0 10px #0f8cd5;
}

@keyframes resaltarInput {
  0% { box-shadow: 0 0 0px #0f8cd5; }
  50% { box-shadow: 0 0 10px #0f8cd5; }
  100% { box-shadow: 0 0 0px #0f8cd5; }
}

canvas {
  max-height: 300px;
}